body{
    /*background-color: linear-gradient(red, blue);*/
    box-sizing: border-box;
    
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    text-align: center;
    margin: 5px;
    padding: 10px;
}
.main-container:nth-child(4){
    padding-left: 5px;
    padding-right: 5px;
}
img{
    width: 150px;
    border-radius: 75px;
}

li{
    list-style: none;
}
a{
    /*text-decoration: none;*/
    text-decoration-color: crimson;
}
.mini-containers{
    background: turquoise;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3px;
    padding: 5px;
    max-width: 600px;
    color: rgb(3, 0, 15);
}
/*.mini-containers > img{
    z-index: -1;
}*/
*{
    font-family: Cambria, Cochin, Georgia, Times, 
    'Times New Roman', serif;
    font-size: small;
    font-style: oblique;
}
h1{
    font-size: x-large;
}
h2{
    font-size: larger;
}
.container-grid{
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#grid1{
    background-color: black;
    grid-column: 1/3;
}
#grid2{
    color: antiquewhite;
    max-width: 50px;
    grid-column: auto/-1;
}
#grade2 > img{
    max-width: 100px;
}