body{
    /*background-image: url(myPhotos/cat1.jpg);
    background-size: contain;*/
    background-color: white;
}
/*.menu-bar{
    background-color: rgb(15, 18, 230);
    display:flex;
    border: 2px solid black;
    justify-content: flex-end;
}
.menu-bar ul{
    display: inline-flex;
    justify-content: space-around;
    background-color: blue;
}
.menu-bar ul li{
    background-color: whitesmoke;
    display:flex;
    justify-content: space-around;
    list-style: none;
    border: 1px solid black;
    
}*/
.menu-bar{
    /* min-height: 100px; */
    /* width: 100%; */
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-bar div{
    padding: 0.75rem;
    margin: 25px;
    /* background-color:blue; */
    color: rgb(6, 6, 6);
    border-radius: 0.75rem;
}
.menu-bar div:hover{
    background-color: rgb(46, 103, 97);
    cursor: pointer;
}
.menu-bar img{
    width: 20px;
    /*margin-right: 30px;*/
}
.container{
    display: flex;
    flex-direction: column;
}