body{
    background-color: aqua;
}
.container{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(minmax(100px, auto));
    /* grid-flow: dense; */
}
img{
    width: 100%;
}
.small{
    width: 100px;
    height: 100px;
}
.medium{
    width: 150px;
    height: 100px;
}
.x-medium{
    width: 150px;
    height: 100px;
}
.tall{
    width: 100px;
    height: 150px;
}
.long{
    width: 200px;
    height: 100px;
}
/* #one{ */
    /* grid-column: 1; */
/* } */
/* #two{ */
    /* grid-column: auto/span 2; */
/* } */
/* #three{ */
    /* grid-column: auto/span 2; */
/* } */
/* #four{ */
    /* grid-column: auto/span 2; */
/* } */